.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(245, 243, 243, 0.95);
    color: black;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
  padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}


