.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0905f5da;
    /* background-color: rgba(173, 196, 218, 0.98); */
    color: white;
    font-weight: 550;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
  padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}


